<div class="row" style="margin-top: 2rem;">
    <div class="col">
      {% if carga_list %}
      <table class="table table-hover caption-top ">
  
  
        <thead>
          <tr>
            <th scope="col">Año</th>
            <th scope="col">Ciclo académico</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha de envío</th>
            <th scope="col">Fecha de aprobación</th>
  
          </tr>
  
  
  
        </thead>
        <tbody>
          {% for object in carga_list %}
          <tr>
            {% include 'cargas/snippets/carga.html' with carga=object %}
  
          </tr>
          {%endfor%}
  
        </tbody>
      </table>
  
      {% else %}
      <div class="h5">
        No se ha encontrado registro de la carga buscada
        <a href="{% url 'cargas:carga-list' %}" class="btn btn-primary">Regresar</a>
      </div>
      {% endif %}
    </div>
  </div>