{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row" style="margin-top: 2rem;">
  <div class="col">
    <div class="d-flex justify-content-start">
      {% include 'pensums/cursos/snippets/breadcrumb.html'%}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    {% include 'pensums/cursos/snippets/cursoBuscar.html' with query=query %}
  </div>
</div>

<hr>
<div class="row">
  <div class="col">
    <p>Resultados para: {{ query }} ({{ count }})</p>
  </div>
</div>

<div class="row">
  <div class="col">
    {% include 'pensums/cursos/snippets/cursoListar.html' %}
  </div>
</div>


{% endblock %}