<div class="row" style="margin-top: 2rem;">
  <div class="col">
    {% if pensum_list %}
    <table class="table table-hover caption-top ">


      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Inicio de vigencia</th>
          <th scope="col">Fecha de creacion</th>
          <th scope="col">Opciones</th>
        </tr>



      </thead>
      <tbody>
        {% for object in pensum_list %}
        <tr>
          {% include 'pensums/pensum/snippets/pensum.html' with pensum=object %}

        </tr>
        {%endfor%}

      </tbody>
    </table>

    {% else %}
    <div class="h5">
      No se ha encontrado registro del pensum
      <a href="{% url 'pensums:Pensum' %}" class="btn btn-primary">Regresar</a>
    </div>
    {% endif %}
  </div>
</div>