{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row" style="margin-top: 2rem;">
  <div class="col">
    <div class="d-flex justify-content-start">
      {% include 'pensums/carreras/snippets/breadcrumb.html'%}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    {% include 'pensums/carreras/snippets/carreraBuscar.html' with query=query %}
  </div>
</div>

<hr>
<div class="row">
  <div class="col">
    <p>Resultados para: {{ query }} ({{ count }})</p>
  </div>
</div>

<div class="row">
  <div class="col">
    {% include 'pensums/carreras/snippets/carreraListar.html' %}
  </div>
</div>

<div class="row">
  <div>
      <a class="btn btn-outline-dark" href="{% url 'pensums:Carrera' %}">Regresar</a>
  </div>

</div>


{% endblock %}