{% extends 'base.html' %}
{% load static %}


{% block content %}
    {% if usuario_list %}
        <div class="row" style="margin-top: 2.5rem;">
            <div class="d-flex justify-content-center">

                <h2>{{ message }}</h2>

            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center">
                {% include 'snippets/breadcrumb.html'%}

            </div>

        </div>

        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-start">
                    <a class="btn btn-dark" href="{% url 'users:add_user'%}">Agregar: </a>
                  </div>
            </div>
        </div>
        <div class="row" style="margin-top: 2rem;">
            <div class="col">
                <table class="table table-hover caption-top ">
                    <thead>
                        <tr>
                            <th scope="col">Nombre Completo del Usuario</th>
                            <th scope="col">Correo Electronico</th>
                            <th scope="col">Profesion</th>
                            <th scope="col">No.Personal</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Acciones</th>
                            
                          </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuario_list %}
                            <tr>
                                <td scope="row">{{usuario}}</td>
                                <td>{{usuario.email}}</td>
                                <td>{{usuario.profesion}}</td>
                                <td>{{usuario.noPersonal}}</td>
                                <td>{{usuario.telefono}}</td>
                                <td>
                                    <ul class="nav flex-column">
                                        {% for rols in usuario.rol.all %}
                                            <li class="nav-link disabled">{{rols.rol}}</li>
                                        {% endfor %}

                                    </ul>
                                    
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Acciones
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{% url 'users:detail_user' usuario.id%}">Detalle</a></li>
                                            <li><a class="dropdown-item" href="{% url 'users:update_user' usuario.id%}">Editar</a></li>
                                            <li><a class="dropdown-item" href="{% url 'users:delete_user' usuario.id%}">Eliminar</a></li>
                                        </ul>
                                    </div>
                                </td>

                            </tr>
                            
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'snippets/pages.html' %}
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-4" style="text-align: center;">
                <h5>En este momento no se ha agregado ningun Usuario a la plataforma</h5>
                <a href="{% url 'users:add_user'%}" class="btn btn-outline-dark">Crear Usuario</a>
            </div>
        </div>
    {% endif %}

{% endblock %}