{% extends 'base.html' %}
{% load static %}




{% block content %}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card " style="margin-top: 2rem;">
            <div class="card-body">
                <h2>FORMULARIO DE CAMBIO DE CONTRASEÑA</h2>
                <hr class="dropdown-divider">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
            
                    <div class="form-group" style="margin-bottom: 1rem;">
                        
            
            
                        {{ field.label_tag }}
                        {{ field }}
            
                        {% if field.errors %}                        
                            {{ field.errors }}                       
                        {% endif %}
            
                    </div>
                    
            
                    {% endfor %}
            
                    <br>
                    
                    <button type="submit" class="btn btn-lg btn-dark ">{{info}}</button>
                    <a href="{% url 'index' %}">CANCELAR</a>
                    
            
                </form>
            </div>
            
            
        
        </div>
    
    </div>

</div>





{% endblock %}